services:
  aht30-daemon:
    image: ghcr.io/carlosotero01/aht30-daemon:${VERSION:-latest}
    container_name: aht30-daemon
    restart: unless-stopped
    devices:
      - "/dev/i2c-1:/dev/i2c-1"
    profiles: ["prod"]

  edge-portal:
    image: ghcr.io/carlosotero01/edge-portal:${VERSION:-latest}
    container_name: edge-portal
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      - TEMP_DAEMON_URL=http://aht30-daemon:7070
    depends_on:
      - aht30-daemon
    profiles: ["prod"]

  aht30-daemon-dev:
    build:
      context: .
      dockerfile: daemons/aht30/Dockerfile
    container_name: aht30-daemon-dev
    restart: unless-stopped
    devices:
      - "/dev/i2c-1:/dev/i2c-1"
    profiles: ["dev"]
    networks:
      default:
        aliases:
          - aht30-daemon

  edge-portal-dev:
    build:
      context: .
      dockerfile: Dockerfile
    image: edge-portal:local
    container_name: edge-portal-dev
    restart: unless-stopped
    ports:
      - "8001:8000"
    environment:
      - TEMP_DAEMON_URL=http://aht30-daemon:7070
    depends_on:
      - aht30-daemon-dev
    profiles: ["dev"]
